<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo List</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
    <header>
        <h1>Todo List</h1>
    </header>
    <main>
        <form id="todoForm" action="/create" method="POST">
        <input type="text" name="todoItem" id="todoItem" placeholder="Enter a todo item">
        <button type="submit">Create</button>
        </form>
        <% if(locals.todoList && locals.todoList.length === 0){  %> 
            <h1>Your todo list is empty. Press the create button to add items.</h1>
        <% }else{ %> 
            <div class="todos">
                <ul id="list">
                  <% for (let i = 0; i < (locals.todoList && locals.todoList.length); i++) { %>
                    <li class="item">
                      <%= locals.todoList[i] %>
                      <form action="/delete" method="POST">
                        <input type="hidden" name="delItem" value="<%= locals.todoList[i] %>">
                        <button class="deleteButton" type="submit">Delete</button>
                      </form>
                      <form action="/update" method="POST">
                        <input type="hidden" name="updateItem" value="<%= locals.todoList[i] %>">
                        <input type="text" name="updatedValue" placeholder="Enter your updated value" required>
                        <button class="updateButton">Update</button>
                      </form>
                    </li>
                  <% } %>
                </ul>
              </div>              
                <% } %>
    </main>
</body>
</html>
